.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row5{
  background-color:#5a68e7;
}
.row7 {
  background-color: #f5f6fa;
}
.row7_1{
  background:#eaebf1;
}
.row8{
  background:#c7cbdb;
}
.row10 {
  background: #f7f7f7;
}
.buttonrow {
  background: #f2f2f5;
}
li{
  list-style: none;
}
.row12 {
  background: #000000
}
.row13 {
  background: 
  #303030;
}
.questions {
  border-bottom: 1px solid grey
}
.questionDiv{
  background: #f5f6fa;
}
.row2Btn{
  background: #9b73ff
}